########################################
########################################
# Main Config
########################################
########################################

########################################
# Includes
########################################

[include mainsail.cfg]
[include tmc_autotune.cfg]
[include auto_speed.cfg]
[include cartographer.cfg]
[include steppers.cfg]
[include toolhead.cfg]
[include bed.cfg]
[include shaketune.cfg]
[include KAMP_Settings.cfg]
[include macros/*.cfg]
[include rpi.cfg]

########################################
# MCU
########################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_46004A000D50344139353220-if00

########################################
# Temperature Sensor Super8
########################################

[temperature_sensor Super8]
sensor_type: temperature_mcu
sensor_mcu: mcu
min_temp: 0
max_temp: 100

########################################
# Printer Limits
########################################

[printer]
kinematics: cartesian
max_velocity: 1000
max_accel: 50000
max_z_velocity: 20
max_z_accel: 1000
square_corner_velocity: 20

########################################
# Other
########################################

# Enable object exclusion
[exclude_object]

# Enable arcs support
[gcode_arcs]
resolution: 0.4

# Enable Force Moves
[force_move]
enable_force_move: True

# Virtual SD Card Setup
[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

# Enable Display Status
[display_status]

# Pause/Resume functionality with support of position capture and restore. 
[pause_resume]

# Add Danger Options
[danger_options]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [scanner model default]
#*# model_coef = 1.3334329787930415,
#*# 	1.7475790690874116,
#*# 	0.7613418597474788,
#*# 	0.40581051226935205,
#*# 	0.2594829323024583,
#*# 	0.049943347125377846,
#*# 	0.02520275817053754,
#*# 	0.3030959557798461,
#*# 	0.17039369831892223,
#*# 	-0.05461196651996727
#*# model_domain = 3.1699201224885825e-07,3.343075334043145e-07
#*# model_range = 0.100000,5.000000
#*# model_temp = 29.506109
#*# model_offset = 0.00000
#*#
#*# [scanner]
#*# scanner_touch_threshold = 2000
