[respond]
[include chopper_tune.cfg]
########################################
########################################
# Main Config
########################################
########################################

########################################
# Includes
########################################

[include mainsail.cfg]
[include auto_speed.cfg]
[include cartographer.cfg]
[include steppers.cfg]
[include toolhead.cfg]
[include bed.cfg]
[include shaketune.cfg]
[include KAMP_Settings.cfg]
[include macros/*.cfg]
[include rpi.cfg]

########################################
# MCU
########################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_46004A000D50344139353220-if00

########################################
# Temperature Sensor Super8
########################################

[temperature_sensor Super8]
sensor_type: temperature_mcu
sensor_mcu: mcu
min_temp: 0
max_temp: 100

########################################
# Printer Limits
########################################

[printer]
kinematics: cartesian
max_velocity: 800
max_accel: 40000
max_z_velocity: 20
max_z_accel: 1000
square_corner_velocity: 20

########################################
# Other
########################################

# Enable object exclusion
[exclude_object]

# Enable arcs support
[gcode_arcs]
resolution: 0.4

# Enable Force Moves
[force_move]
enable_force_move: True

# Virtual SD Card Setup
[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT




########################################
# Input Shaper
########################################

[input_shaper]
shaper_freq_x: 84.0 # center frequency for the X axis filter
shaper_type_x: mzv # filter type for the X axis
damping_ratio_x: 0.045 # damping ratio for the X axis
# # Recommended max accel in x - 19600


shaper_freq_y: 81.8 # center frequency for the X axis filter
shaper_type_y: mzv # filter type for the X axis
damping_ratio_y: 0.035 # damping ratio for the X axis
# # Recommended max accel in x - 18300



# Enable Display Status
[display_status]

# Pause/Resume functionality with support of position capture and restore. 
[pause_resume]

# Add Danger Options
[danger_options]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [scanner model default]
#*# model_coef = 1.3078797190236309,
#*# 	1.7011566163573006,
#*# 	0.7472380148844723,
#*# 	0.4789693913378211,
#*# 	0.5624706932389326,
#*# 	0.3759643534658298,
#*# 	-0.45686854813260325,
#*# 	-0.41688214700543275,
#*# 	0.38899649259550867,
#*# 	0.3125464523896539
#*# model_domain = 3.143862788436825e-07,3.340157313754633e-07
#*# model_range = 0.100000,5.000000
#*# model_temp = 39.271341
#*# model_offset = 0.00000
#*#
#*# [scanner]
#*# scanner_touch_threshold = 3500
