########################################
########################################
# Constants
########################################
########################################

[constants]

########################################
# A/B Axis
########################################

## Stepper/Driver homing settings
interpolate_ab: true
sense_resistor_ab: 0.033
rotation_distance_ab: 40
microsteps_ab: 32
full_steps_per_rotation_ab: 200
run_current_ab: 1.9

##	Primary Stepper/Driver homing settings
homing_speed_ab: 150

##	Generic Pins for SPI
spi_software_mosi_pin_ab: PB5
spi_software_miso_pin_ab: PB4
spi_software_sclk_pin_ab: PB3

# ##	Stepper Driver Control
# driver_tbl_ab: 0
# driver_toff_ab: 8
# driver_hstrt_ab: 6
# driver_hend_ab: 6
# driver_tpfd_ab: 4

########################################
# Z Axis
########################################

## Stepper/Driver homing settings
interpolate_z: true
sense_resistor_z: 0.110
rotation_distance_z: 8
microsteps_z: 32
run_current_z: 0.8
stealthchop_threshold_z: 0

########################################
########################################
# X Axis
########################################
########################################

########################################
# Stepper x
########################################

[stepper_x]
##	Stepper Specific Pins
step_pin: PE0
dir_pin: !PG3
enable_pin: !PG4

## Stepper/Driver settings
rotation_distance: ${constants.rotation_distance_ab}
microsteps: ${constants.microsteps_ab}
full_steps_per_rotation: ${constants.full_steps_per_rotation_ab}

##	Primary Stepper/Driver homing settings
homing_speed: ${constants.homing_speed_ab} 
endstop_pin: PC0
homing_retract_dist: 5

##	Primary Stepper/Driver positional settings
position_endstop: 223
position_min: -3
position_max: 223




########################################
# Driver x
########################################

[tmc5160 stepper_x] 
##	Stepper Specific Pins
cs_pin: PG2

##	Generic Pins for SPI
spi_software_mosi_pin: ${constants.spi_software_mosi_pin_ab}
spi_software_miso_pin: ${constants.spi_software_miso_pin_ab}
spi_software_sclk_pin: ${constants.spi_software_sclk_pin_ab}

## Stepper/Driver settings
interpolate: ${constants.interpolate_ab}
run_current: ${constants.run_current_ab}
sense_resistor: ${constants.sense_resistor_ab}

# ##	Stepper Driver Control
# driver_TBL: ${constants.driver_tbl_ab}
# driver_TOFF: ${constants.driver_toff_ab}
# driver_HSTRT: ${constants.driver_hstrt_ab}
# driver_HEND: ${constants.driver_hend_ab}
# driver_TPFD: ${constants.driver_tpfd_ab}




########################################
# Stepper x1
########################################

[stepper_x1]
##	Stepper Specific Pins
step_pin: PE14
dir_pin: !PE8
enable_pin: !PE9

## Stepper/Driver settings
rotation_distance: ${constants.rotation_distance_ab}
microsteps: ${constants.microsteps_ab}
full_steps_per_rotation: ${constants.full_steps_per_rotation_ab}




########################################
# Driver x1
########################################

[tmc5160 stepper_x1] 
##	Stepper Specific Pins
cs_pin: PE7

##	Generic Pins for SPI
spi_software_mosi_pin: ${constants.spi_software_mosi_pin_ab}
spi_software_miso_pin: ${constants.spi_software_miso_pin_ab}
spi_software_sclk_pin: ${constants.spi_software_sclk_pin_ab}

## Stepper/Driver settings
interpolate: ${constants.interpolate_ab}
run_current: ${constants.run_current_ab}
sense_resistor: ${constants.sense_resistor_ab}

# ##	Stepper Driver Control
# driver_TBL: ${constants.driver_tbl_ab}
# driver_TOFF: ${constants.driver_toff_ab}
# driver_HSTRT: ${constants.driver_hstrt_ab}
# driver_HEND: ${constants.driver_hend_ab}
# driver_TPFD: ${constants.driver_tpfd_ab}




########################################
########################################
# Y Axis
########################################
########################################

########################################
# Stepper y
########################################

[stepper_y]
###	Stepper Specific Pins
step_pin: PE1
dir_pin: !PF0
enable_pin: !PC15

## Stepper/Driver settings
rotation_distance: ${constants.rotation_distance_ab}
microsteps: ${constants.microsteps_ab}
full_steps_per_rotation: ${constants.full_steps_per_rotation_ab}

##	Primary Stepper/Driver homing settings
homing_speed: ${constants.homing_speed_ab} 
endstop_pin: PF10
homing_retract_dist: 5

##	Primary Stepper/Driver positional settings
position_endstop: 222
position_min: 0
position_max: 222




########################################
# Driver y
########################################

[tmc5160 stepper_y] 
##	Stepper Specific Pins
cs_pin: PF1

##	Generic Pins for SPI
spi_software_mosi_pin: ${constants.spi_software_mosi_pin_ab}
spi_software_miso_pin: ${constants.spi_software_miso_pin_ab}
spi_software_sclk_pin: ${constants.spi_software_sclk_pin_ab}

## Stepper/Driver settings
interpolate: ${constants.interpolate_ab}
run_current: ${constants.run_current_ab}
sense_resistor: ${constants.sense_resistor_ab}

# ##	Stepper Driver Control
# driver_TBL: ${constants.driver_tbl_ab}
# driver_TOFF: ${constants.driver_toff_ab}
# driver_HSTRT: ${constants.driver_hstrt_ab}
# driver_HEND: ${constants.driver_hend_ab}
# driver_TPFD: ${constants.driver_tpfd_ab}




########################################
# Stepper y1
########################################

[stepper_y1]
##	Stepper Specific Pins
step_pin: PE15
dir_pin: PE11
enable_pin: !PF2

## Stepper/Driver settings
rotation_distance: ${constants.rotation_distance_ab}
microsteps: ${constants.microsteps_ab}
full_steps_per_rotation: ${constants.full_steps_per_rotation_ab}




########################################
# Driver y1
########################################

[tmc5160 stepper_y1] 
##	Stepper Specific Pins
cs_pin: PE10

##	Generic Pins for SPI
spi_software_mosi_pin: ${constants.spi_software_mosi_pin_ab}
spi_software_miso_pin: ${constants.spi_software_miso_pin_ab}
spi_software_sclk_pin: ${constants.spi_software_sclk_pin_ab}

## Stepper/Driver settings
interpolate: ${constants.interpolate_ab}
run_current: ${constants.run_current_ab}
sense_resistor: ${constants.sense_resistor_ab}

# ##	Stepper Driver Control
# driver_TBL: ${constants.driver_tbl_ab}
# driver_TOFF: ${constants.driver_toff_ab}
# driver_HSTRT: ${constants.driver_hstrt_ab}
# driver_HEND: ${constants.driver_hend_ab}
# driver_TPFD: ${constants.driver_tpfd_ab}




########################################
########################################
# Z Axis
########################################
########################################

########################################
# Stepper z (back)
########################################

[stepper_z]
##	Stepper Specific Pins
step_pin: PE4
dir_pin: PG0
enable_pin: !PG1

## Stepper/Driver settings
rotation_distance: ${constants.rotation_distance_z}
microsteps: ${constants.microsteps_z}

##	Primary Stepper/Driver homing settings
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3 
endstop_pin: probe:z_virtual_endstop

##	Primary Stepper/Driver positional settings
position_min: -6
position_max: 235




########################################
# Driver z (back)
########################################

[tmc2209 stepper_z]
##	Stepper Specific Pins
uart_pin: PF15

## Stepper/Driver settings
interpolate: ${constants.interpolate_z}
sense_resistor: ${constants.sense_resistor_z}
run_current: ${constants.run_current_z}
stealthchop_threshold: ${constants.stealthchop_threshold_z}




########################################
# Stepper z1 (front left)
########################################

[stepper_z1]
##	Stepper Specific Pins
step_pin: PE3
dir_pin: PF13
enable_pin: !PF14

## Stepper/Driver settings
rotation_distance: ${constants.rotation_distance_z}
microsteps: ${constants.microsteps_z}




########################################
# Driver z1 (front left)
########################################

[tmc2209 stepper_z1]
##	Stepper Specific Pins
uart_pin: PF12

## Stepper/Driver settings
interpolate: ${constants.interpolate_z}
sense_resistor: ${constants.sense_resistor_z}
run_current: ${constants.run_current_z}
stealthchop_threshold: ${constants.stealthchop_threshold_z}




########################################
# Stepper z2 (front right)
########################################

[stepper_z2]
##	Stepper Specific Pins
step_pin: PE2
dir_pin: PC5
enable_pin: !PF11

## Stepper/Driver settings
rotation_distance: ${constants.rotation_distance_z}
microsteps: ${constants.microsteps_z}




########################################
# Drivers z2 (front right)
########################################

[tmc2209 stepper_z2]
##	Stepper Specific Pins
uart_pin: PC4

## Stepper/Driver settings
interpolate: ${constants.interpolate_z}
sense_resistor: ${constants.sense_resistor_z}
run_current: ${constants.run_current_z}
stealthchop_threshold: ${constants.stealthchop_threshold_z}




########################################
########################################
# Fans
########################################
########################################

# #######################################
# 4010 Fans over 5160's
# #######################################

[controller_fan Controller]
pin: PB10
max_power: 1
shutdown_speed: 0
kick_start_time: 0.1
off_below: 0.10
stepper: stepper_x, stepper_x1, stepper_y, stepper_y1